{{define "base"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
    <title>{{template "title" .}}</title>
</head>
<body>

    <div class="h-screen bg-black flex flex-col justify-between items-center">

        <div class="min-h-[100px] w-[85%] flex justify-center items-center rounded-lg bg-white mx-auto">
            <h1 class="font-mono font-bold text-6xl text-center"> <a href="#" class="hover:text-blue-700"> Workspace in Go </a></h1>
        </div>
    
        <div class="grow-[0.5]"></div>

        {{template "body" .}}

        <div class="grow"></div>

        <div class="min-h-[100px] w-[100%] flex justify-center items-center bg-white mx-auto">
            <h1 class="font-mono font-bold text-6xl text-center"> 2024 WIG </h1>
        </div>
    </div>
</body>
</html>

{{end}}