{{template "base" .}}

{{define "title" }} Home {{end}}

{{define "body" }} 

<div class="grow-[0.5]"></div>

<div class="mr-10 flex flex-col items-center">
    <p class="text-white text-4xl mb-10 ml-20"> Select your choice </p>
    <form class="flex flex-col items-center">
        <div class="mb-5">
            <input type="radio" name="choice" class="ml-20" style="transform: scale(1.8);" value="Create your project"/>
            <label for="create" class="text-white text-4xl p-4"> Create your project </label>
        </div>           

        <div class="mb-5">
            <input type="radio" name="choice" class="ml-12" style="transform: scale(1.8);" value="View your project"/>
            <label for="view" class="text-white text-4xl p-4"> View your Project </label>
        </div>
        
        <div class="mb-5">
            <input type="radio" name="choice" class="ml-20" style="transform: scale(1.8);" value="Update your project"/>
            <label for="update" class="text-white text-4xl p-4"> Update your project </label>
        </div>
        
        <div class="mb-5">
            <input type="radio" name="choice" class="ml-20" style="transform: scale(1.8);" value="Delete your project"/>
            <label for="delete" class="text-white text-4xl p-4"> Delete your project </label>
        </div>

        <button type="button" class="rounded-md text-black border-white border-2 px-8 py-2 text-2xl bg-white"> Enter </button>
    </form>
</div>

<div class="grow"></div>

{{end}}